Django
djangorestframework
langchain_aws
PyPDFLoader
recursive_character_text_splitter
vectorstore_index_creator
faiss
python-dotenv
django-cors-headers
langchain_community
langchain
asgiref
aiofiles
langchain
pypdf
faiss-cpu
boto3